* {
  margin: 0px;
  padding: 0px
}

a{
  text-decoration: none;
  color: black;
}

ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

label{
  display: block;
  width: 200px;
  margin: auto;
  font-size: 22px;
}

input {
  width: 150px;
  margin: 10px auto;
  border: 2px solid black;
}

form {
  text-align: center;
  margin: 10px;
}

.listItem{
  text-align: center;
  border-bottom: 4px double lightgrey;
  margin: 20px
}