* {
  margin: 0px;
  padding: 0px
}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
  text-align: left;
}

label{
  display: block;
  width: 200px;
  margin: auto;
  font-size: 22px;
}

input {
  width: 150px;
  margin: 10px auto;
  border: 2px solid black;
}

form {
  text-align: center;
  margin: 10px;
}

table {
  text-align: left;
  width: 400px;
  border-collapse: collapse;
}

th, td {
  width: 200px;
  padding: 5px;
  text-align: left;
  border: .5px solid black;
}

.error-text {
  color: red;
}